# VerificationResult
## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
| **delta\_uuid** | **String** | UUID of delta being verified. | [default to null] |
| **creation\_time** | **String** | When this verification run started. | [default to null] |
| **verified\_reduction** | **String** | JSON string of the verified reduction model. | [optional] [default to null] |
| **verified\_addition** | **String** | JSON string of the verified addition model. | [optional] [default to null] |
| **unverified\_reduction** | **String** | JSON string of the unverified reduction model. | [optional] [default to null] |
| **unverified\_addition** | **String** | JSON string of the unverified addition model. | [optional] [default to null] |
| **reduction** | **String** | String boolean of whether the reduction is present. | [default to null] |
| **addition** | **String** | String boolean of whether the addition is present. | [default to null] |

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)

